.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tableSort {
    width: 100%;
    /* border-bottom: 1px solid #E4E6E7; */
    padding-bottom: 10px;
    font-family: var(--font-text);
    font-size: 14px;
    font-weight: 400;
}

.table {
    table-layout: fixed;
}
.tableHeader {
    height: 46px;
    border-bottom: 1px solid #E4E6E7;
}

.tableHeaderCell {
    font-family: var(--font-text);
    font-size: 14px;
    font-weight: 700;
    padding: 0px 10px;
    min-width: 50px;
}

.tableCell {
    font-family: var(--font-text);
    font-size: 14px;
    font-weight: 400;
    padding: 0px 10px;
}

.tableBody td{
font-family: var(--font-text);
    font-size: 14px;
    font-weight: 400;
    padding: 0px 10px;
}

.tableCellNumber {
    width: 5px;
}

.tableRow {
    height: 46px;
    border-bottom: 1px solid #E4E6E7;
}

.pageSize {
    padding: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
}

.tableFooter {
    display: flex;
    width: 100%;
    justify-content: right;
    margin-top: 10px;
}
.pagination {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: var(--font-text);
    font-size: 14px;
    font-weight: 400;

    /* justify-self: right; */
}