.container {
    width: calc(100vw - 300px);
    display:flex;
    justify-content: center;
}

.newPostContainer {
    width: 75%;
    height: auto;
    padding: 20px 20px 5px 20px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    box-shadow:0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

.newPostProfile {
    display: flex;
    width: 100%;
}

.postProfileImg {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    justify-self: center;
    object-fit: cover;
    z-index: 999;
}

.inputContainer {
    width: 100%;
    
}

.inputBox {
    padding-left: 25px; 
}

.media {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.icon {
    color: var(--text-subtitle);
}

.addMediaBtn {
    margin-left: 20px;
    font-family: var(--font-text);
    font-size: 14px;
    color: var(--text-subtitle);
}