.container {

    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 250px;
    padding: 30px 75px;

}

.title {
    font-family: var(--font-text);
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
}

.birdTable {
    width: 100%;
}